/* bun-svelte:bun-svelte:ConnectionList.svelte-igbepbnb9obb-style.css */
.connection-item.svelte-29xarbly06sed {
  border-bottom-width: 1px;
  border-bottom-color: #ccc;
  padding: 15px;
}

.connection-name.svelte-29xarbly06sed {
  font-size: 18px;
  font-weight: bold;
}

.connection-details.svelte-29xarbly06sed {
  color: #666;
  font-size: 14px;
}

.btn-primary.svelte-29xarbly06sed {
  margin-top: 20px;
}

/* bun-svelte:bun-svelte:Home.svelte-1snglbzia0xa1-style.css */
.footer-container.svelte-3oc84ie2vpl4y {
  text-align: center;
  justify-content: center;
  margin-top: 40px;
  padding: 10px;
}

.footer-text.svelte-3oc84ie2vpl4y {
  color: #999;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-style: italic;
}

.link.svelte-3oc84ie2vpl4y {
  color: #3a53ff;
  text-decoration: underline;
  margin-left: 3px;
  margin-right: 3px;
}
